.application {
  height: 780px;
  padding-left: 106px;
  background-image: url(~@/assets/logo-1.png), url(~@/assets/bg-application.png);
  background-position: right bottom 100px, center;
  background-size: 50% auto, cover;
  background-repeat: no-repeat;

  .applicationTitle {
    width: 800px;
    margin-bottom: 35px;
    margin-top: 380px;
  }

  .text {
    font-size: 24px;
    width: 848px;
    line-height: 28px;
    color: #fff;
  }
}
