.application {
  height: 756px;

  background-image: url(~@/assets/logo-1.png);
  background-position: center top 122px;
  background-size: 890px 450px;
  background-repeat: no-repeat;

  .content {
    width: 1252px;
    margin: 0 auto;
  }

  .applicationTitle {
    width: 800px;
    margin-bottom: 35px;
    margin-top: 290px;
  }

  .text {
    font-size: 24px;
    width: 848px;
    line-height: 28px;
    color: #fff;
  }
}
