.banner {
  min-width: 1512px;
  height: 982px;

  .sologn {
    width: 986px;
    margin-top: 220px;
    margin-left: 105px;
  }
  .text {
    font-size: 21px;
    color: #fff;
    line-height: 25px;
    margin-left: 105px;
    margin-top: 46px;

    width: 1010px;
  }
}
