.banner {
  min-width: 1512px;
  height: 780px;
  background-image: url(~@/assets/bg-banner.png);
  // margin-top: -96px;
  background-color: black;

  .sologn {
    width: 986px;
    margin-top: 220px;
    margin-left: 105px;
  }
  .text {
    font-size: 21px;
    color: #fff;
    line-height: 25px;
    margin-left: 105px;
    margin-top: 46px;

    width: 1010px;
  }
}
