.home {
  // min-height: 100vh;
  min-width: 1512px;
  background-color: #fff;
}

.bg1 {
  background: url(~@/assets/bg-application.png) no-repeat center;
  background-size: cover;
}
.bg2 {
  background: url(~@/assets/bg-product.png) no-repeat center;
  background-size: cover;
}
