.yield {
  height: 855px;
  margin: 0 auto;
  text-align: center;

  .yieldText {
    width: 548px;
    margin: 233px 0 30px;
  }
  .subText {
    font-size: 24px;
    color: #fff;
  }

  .blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    margin-top: 86px;
  }
  .block {
    width: 378px;
    height: 274px;
    border-radius: 8px;
    background-color: rgb(150, 147, 153);
    color: #fff;
    padding-top: 152px;

    background-repeat: no-repeat;
    background-size: 110px auto;
    background-position: center top 36px;

    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
  }
  .blockIssue {
    background-image: url(~@/assets/blockIssue.png);
  }
  .blockYield {
    background-image: url(~@/assets/blockYield.png);
    background-size: 88px 112px;
  }
  .blockAMM {
    background-image: url(~@/assets/blockAMM.png);
  }
}
