body {
  color: #999999;
}

.ant-card-head {
  border-bottom: 1px solid transparent;
}
.ant-card-body {
  color: #999;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: #999;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: #fff;
}

.ant-steps-item-wait .ant-steps-item-icon {
  background-color: #907019;
}
.ant-steps-item-title::after {
  background-color: #999 !important;
}
.ant-input-number-handler-up-inner svg,
.ant-input-number-handler-down-inner svg {
  color: #999;
}

// Table
// ===========
.ant-table-thead > tr > th {
  border-bottom: 1px solid transparent;
}
.ant-table-tbody > tr > td {
  border-bottom: 1px solid transparent;
}
.ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background-color: transparent;
}
