.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;

  .menus {
    margin-left: auto;
  }

  .wrapAccount {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.content {
  padding: 48px;
  min-height: calc(100vh - 64px - 70px);
  box-sizing: border-box;
}
