.footer {
  width: 100%;
  height: 100px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 144px;

  background: linear-gradient(to right, #e9c68e, #d45b9c, #548dcb);

  .wrapImage {
    flex: 0 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .telegram {
    background: url(~@/assets/telegram.png) no-repeat center/contain;
    &:hover {
      background: url(~@/assets/telegram-2.png) no-repeat center/contain;
    }
  }
  .email {
    background: url(~@/assets/email.png) no-repeat center/contain;
    &:hover {
      background: url(~@/assets/email-2.png) no-repeat center/contain;
    }
  }
  .twitter {
    background: url(~@/assets/twitter.png) no-repeat center/contain;
    &:hover {
      background: url(~@/assets/twitter-2.png) no-repeat center/contain;
    }
  }
  .discord {
    background: url(~@/assets/discord.png) no-repeat center/contain;
    &:hover {
      background: url(~@/assets/discord-2.png) no-repeat center/contain;
    }
  }
  .github {
    background: url(~@/assets/github.png) no-repeat center/contain;
    &:hover {
      background: url(~@/assets/github-2.png) no-repeat center/contain;
    }
  }
}
